<footer>
    <!-- Here there be monsters... -->

    <noscript>
        <style type="text/css">
            header, main {
              display:none;
            }

            #no_js_enabled {
                display:absolute;
                text-align:center;
                margin-top:50vh;
            }
        </style>
        <div id="no_js_enabled">
            <p>JavaScript is either disabled, or not supported by your current browser.</p>
            <p>Please enable JavaScript, or upgrade to a modern web browser such as
                <a href="https://www.google.com/chrome/" target="_blank">Chrome</a> or
                <a href="https://www.mozilla.org/en-US/firefox/" target="_blank">Firefox</a>.
            </p>
        </div>
    </noscript>

    {% if page.mathjax %}
        <!-- Include MathJax if the page requires it. -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config(
            {
                TeX:
                {
                    equationNumbers:
                    {
                        autoNumber: "all"
                    }
                },
                tex2jax:
                {
                    inlineMath: [ ['$','$'], ["\\(","\\)"] ],
                    processEscapes: true
                }
            });
        </script>
	{% endif %}

    {% if page.flickity %}
        <!-- Include Flickity if the page requires it. -->
        <script type="text/javascript" src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
        <script type="text/javascript">
            window.addEventListener('load', function ()
            {
                // Find all elements tagged '.flickity'.
                var elems = document.querySelectorAll('.flickity');

                // Initialize each of them with a new Flickity instance.
                var flktys = [];
                elems.forEach(function(elem, index)
                {
                    var flkty = new Flickity(elem,
                    {
                        pageDots: false,
                        selectedAttraction: 0.2,
                        friction: 0.8,
                    });
                    flktys.push(flkty);
                });
                console.log("loaded " + flktys.length + " flickity carousels.");
            });
        </script>
    {% endif %}

    {% if page.masonry %}
        <!-- Include Masonry if the page requires it. -->
        <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
        <script type="text/javascript">
            window.addEventListener('load', function ()
            {
                // Find all elements tagged '.grid'.
                var elems = document.querySelectorAll('.grid');

                // Initialize each of them with a Masonry instance.
                var masonries = [];
                elems.forEach(function(elem, index)
                {
                    var msnry = new Masonry(elem,
                    {
                        itemSelector: '.grid_item',
                        columnWidth: '.grid_item',
                        gutter: '.gutter',
                    });
                    masonries.push(msnry);
                });
                console.log("loaded " + masonries.length + " Masonry grids.");
            });
        </script>
    {% endif %}
</footer>
