<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-142685041-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag()
    {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-142685041-1');
</script>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{ site.author }}</title>
<meta name="author" content="{{ site.author }}" />
<meta name="description" content="{{ site.description }}" />

<link rel="stylesheet" type="text/css" href="/assets/css/destyle.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/github-markdown.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/syntax.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/style.css" />

{% if page.flickity %}
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/flickity-theme.css" />
{% endif %}
