<header>
    <div class="site-title">
        <h1>
            <a href="{{ site.baseurl | append: '/' }}"><u>tienpdinh.com</u></a>
        </h1>
    </div>

    <div class="site-nav">
        <nav>
            <a href="{{ site.baseurl | append: '/' }}"><u>Home</u></a>
            <a href="{{ site.baseurl | append: '/about' }}"><u>About</u></a>
            <a href="https://www.linkedin.com/in/tien-dinh/" target="_blank"><u>LinkedIn</u></a>
            <a href="https://github.com/tienpdinh" target="_blank"><u>Github</u></a>
        </nav>
    </div>
</header>
